In [29]:
# Import libraries necessary for this project.
import shap
import joblib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb; sb.set()

# Suppress warnings.
import warnings
warnings.filterwarnings('ignore')

# Set a random seed.
import random
random.seed(42)

# Import churn library.
from churn_library import *

In [30]:
%load_ext autoreload
%autoreload 2
from churn_library import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [31]:
PATH = "./data/bank_data.csv"
MODEL = Model()
RESPONSE = "Churn"

In [32]:
churn_model = MODEL.import_data(PATH)

In [33]:
# Print basic information about the dataframe.
print(f'\033[1mDataframe shape:\033[0m\n------------------\n'
      f'{churn_model.shape[0]} rows and {churn_model.shape[1]} columns\n')
print(f'\033[1mNulls per column:\033[0m\n------------------\n'
      f'{churn_model.isnull().sum()}\n')
print('\033[1mDescriptive statistics:\033[0m\n------------------------')
churn_model.describe()

Dataframe shape:
------------------
10127 rows and 20 columns

Nulls per column:
------------------
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
Churn                       0
dtype: int64

Descriptive statistics:
------------------------

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Churn
count,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,46.325960,2.346203,35.928409,3.812580,2.341167,2.455317,8631.953698,1162.814061,7469.139637,0.759941,4404.086304,64.858695,0.712222,0.274894,0.160660
std,8.016814,1.298908,7.986416,1.554408,1.010622,1.106225,9088.776650,814.987335,9090.685324,0.219207,3397.129254,23.472570,0.238086,0.275691,0.367235
min,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000,0.000000,0.000000,0.000000
25%,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2555.000000,359.000000,1324.500000,0.631000,2155.500000,45.000000,0.582000,0.023000,0.000000
50%,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,3474.000000,0.736000,3899.000000,67.000000,0.702000,0.176000,0.000000
75%,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.500000,1784.000000,9859.000000,0.859000,4741.000000,81.000000,0.818000,0.503000,0.000000
max,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,3.397000,18484.000000,139.000000,3.714000,0.999000,1.000000

In [34]:
MODEL.perform_eda()

Plots generated and saved to the images/eda folder.

In [35]:
churn_model = MODEL.encoder_helper(RESPONSE)

Encoding of categorical variables completed.

In [36]:
churn_model = MODEL.feature_engineering(RESPONSE)

Data scaled and split into training and test sets.

In [37]:
MODEL.train_models()

Model training complete.  Saving best models to the models folder.
Classification reports generated and saved to the images/results folder.
ROC curves generated and saved to the images/results folder.
Feature importance plot generated and saved to the images/results folder.